/*@import "normalize.css";*/
/*@import "frameless.less";*/
@import "GGS.less";
@import "font-awesome.less";

@link-color: #143352;
@body-color: #000;

// Cleafix mixin from http://forrst.com/posts/CSS_vs_SASS_vs_LessCSS-DPV
.cf() {
  content: "\0020";
  display: table;
  height: 0;
  overflow: hidden;
}

.clearfix {
  &:before { .cf(); }
  &:after { .cf(); clear: both; }
  zoom: 1;
}

ul > li {
  list-style: none;
  padding-left: 1em;
}

ul > li:before {
  content: '› ';
  font-size: 4/3em;
  font-weight: bold;
  color: lighten(@body-color, 33%);
  margin-left: -0.6em;
}

.fontface ul > li:before {
  content: "\f054  ";
  font-size: 3/4em;
  vertical-align: top;
  font-family: FontAwesome;
  font-weight: normal;
}

address {
  font-style: normal;
}

a {
  color: @link-color;
  text-decoration: none;
}

address abbr[title], .location abbr[title] {
  border-bottom: 0;
}

body {
	font-family: Helmet, Freesans, sans-serif;
  color: @body-color;
  margin: 1em @column;
  padding-bottom: 1em;
}

h1 {
/*  font-size: 1.5em;*/
  .large;
  font-family: georgia, serif;
  font-weight: bold;
}

.fontface h1 {
  font-family: Kreon;
  font-weight: 700;
}

section {
  margin-bottom: 0.5em;

  & > h1,
  .fontface & > h1 {
    border-bottom: 1px solid lighten(@body-color, 45%);
    color: lighten(@body-color, 30%);
    padding: 0 1em;
    margin: 3/2em 0 1em;
    .normal;
/*    font-size: 1em;*/
    font-family: sans-serif;
    font-weight: bold;
  }
}

article {
  margin-bottom: 1em;
  
  .location {
    color: #888;
    font-size: (@font-size - 2)/@em;
  }
}


/* Header block has name and contact information. */
body > header {
/*  .width(4);*/
/*  margin: 0 auto;*/
  padding-bottom: 3/4em;
/*  padding: 0 6px 12px;*/
  margin-bottom: 1em;
  border-bottom: 4px double lighten(@body-color, 33%);
  
  /* Half the text in the header are links, which looks odd with color. */
  a {
    color: inherit;
  }

  h1 {
    .huge;
    font-weight: bold;
  }

  .fontface & h1 {
    font-family: 'Kreon', serif;
    font-weight: 700;
  }

  address {
    .clearfix;
    .small;
  	margin: 1/4em 3/2em 0;
  }
  
  i[class*="icon-"] {
    color: @link-color;
  }

  .type {
    display: none;
  }

  .adr {
    margin-bottom: 1/4em;
  }
  
  .tel, .email {
    font-weight: bold;
  }

  .social {
    margin-top: 0.5em;
    overflow: hidden;
    
    div {
      margin-right: 1em;
      float: left;
    }
    
    div:last-child {
      margin-right: 0;
    }
  }
}

/* Footer has source URL and should only be visible when printing. */
body > footer {
  display: none;
  clear: both;
  border-top: 1px solid #333333;
  padding-top: 10px;
  text-align: center;
}

section#experience {
  header {
    margin-bottom: 1/3em;
  }

  article header h1 {
    display: inline;
    color: #000;
    margin-right: 6px;
  }

  article header .location {
    display: inline;
    /* City and state should always display on same line. Either both are next
       to the company name or both break to the next line. */
    white-space: nowrap;
  }

  article > ul {
    .small;
    margin-bottom: 1/3px;
  }
  
  article > ul > li {
    margin: 1/5em 0;
  }

  /* Tighten up space around dashes in the time ranges. */
  article > ul > li .time-range {
    word-spacing: -0.1em;
  }

  article > ul > li .time-range:after {
    content: ': ';
    word-spacing: 0;
  }

  article > ul > li .time-range time {
    word-spacing: 0;
  }

  article > ul > li .job-title {
    font-weight: bold;
    /* Time and job title are usually on the same line, but a few wrap on mobile
       screens. In that case the entire job title should jump down a line. */
    white-space: nowrap;
  }
}

section#education {
  article p {
    margin-top: 1/8em;
  }
  
  article h1 {
    display: inline;
  }
  
  article .location {
    display: inline;
    /* City and state should always display on same line. Either both are next
       to the company name or both break to the next line. */
    white-space: nowrap;
  }
  
  article .time-range {
    .small;
/*    font-size: (@font-size - 2)/@em;*/
  }
}

section#skills {
  h2 {
    .normal;
/*    font-size: 1em;*/
  }
  
  ul {
    overflow: hidden;
/*    font-size: (@font-size - 2)/@em;*/
  }
  
  li {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

section#awards {
  dt {
    font-weight: bold;
    margin-top: 1/3em;
  }

  dd {
    margin-top: 1px;
  }
}

/* Format for printer. Reveal footer with permalink and darken some colors. */
@media print {
  body {
    padding: 0;
  }

  body > header address a, section a {
    border-bottom: 0;
  }

  section article .location {
    color: #bbb;
  }
  
  body > footer {
    display: block;
  }
}


/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

/*header, #twoway {
  margin: 0 @column;
}

h1, h2 {
  margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
  font-weight: normal;
}

h3 {
  margin: (24/@em) 0 (24/@em);
}*/

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.gutters() {
  padding: 0 (@line/2)/@em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body {

}

/* @media screen and (min-width: 480px) */
@media screen and (min-width: 30em) {
  body > header h1 {
/*    font-size: 4em;*/
    .massive;
    font-weight: 400;
  }
  
  section#experience article header h1,
  section#education article h1 {
    .hefty;
    font-weight: normal;
  }
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
	
	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: (@font-size + 1) / @em;
	}

/*  h1 {
    .huge();
    margin: (48/42*1em) 0 (24/42*1em);
  }*/
	
}


/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*	
*
*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
	
	body {
		/* Reset baseline grid to 16/16 = 1 */
		font-size: (@font-size) / @em;
	}

  section#about {
    .largeish;
  }

  section#experience article header h1,
  section#education article h1 {
    .huge;
  }
}


/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
	
	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: (@font-size + 1) / @em;
    margin: 1em @column*2;
	}
  
  body > header {
    width: 8 * @column;
    float: right;
  }
  
  section#about {
/*    .gutters;*/
    width: 8 * @column;
    margin-left: @column;
  }
  
  section#experience {
    clear: both;
  }
}


/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
	
	body {
		/* Reset baseline grid to 16/16 = 1.0 */
		font-size: (@font-size) / @em; 
	}
	
/*  header, #twoway {
    margin: 0 @column*3;
  }*/

}


/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
	
	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: (@font-size + 1) / @em;
	}
	
}


/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
	
	body {
		/* Reset baseline grid to 16/16 = 1.0 */
		font-size: (@font-size) / @em;
	}
	
/*  header, #twoway {
    margin: 0 @column*5;
  }*/
	
}


/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
	
	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: (@font-size + 1) / @em;
	}
	
}


/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*	
*
*/

/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
	
/*  header, #twoway {
    margin: 0 @column*1;
  }
  
  header .wrapper {
    width: 37.5%;
    margin-left: 25%;
  }
  
  #twoway .wrapper {
    width: 25%;
  }
  
  #twoway .wrapper:first-child {
    margin-left: 25%;
  }*/
	
}


/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {

	body {
		/* Zoom baseline grid to 18/16 = 1.125 */
		font-size: (@font-size + 2) / @em;
		max-width: 2560/@em;
	}
	
}